&general
  startframe=STARTFRAME_PLACEHOLDER,
  endframe=ENDFRAME_PLACEHOLDER,
  interval=INTERVAL_PLACEHOLDER,
  verbose=1,
  entropy=0,
  receptor_mask='RECEPTOR_MASK_PLACEHOLDER',
  ligand_mask='LIGAND_MASK_PLACEHOLDER',
  strip_mask=':WAT,HOH,Na+,Na,K+,K,Cl-,Cl',
/

&pb
  istrng=0.154,
  indi=1.0,
  exdi=80.0,
  ipb=2,
  inp=2,
/

